////////// 19/05/2017 by Joel
/// CARD - CONTENIDO
//=========== footer - card - comunicados ==========
.contenido-comunicado
{
    padding: 0px !important;
    width: 100%;
    margin-bottom: 100px;
    height: auto;
    overflow: hidden;
    .views-c{
      position: absolute;
      margin-top: -20px !important;
      padding-right: 10px;
      right: 0;
    }
    .boot {
      position: absolute;
         bottom: 0px;
         width: 100%;
         max-height: 230px;
         overflow: hidden;
    }
    .principal {
      padding-bottom: 100px;
      i {
        font-size: 20px;
      }
    }
    .desplegable {
      //padding-top: 10px;

      padding-bottom: 172px;
      margin-top: -80px;
      display: none;
      height: 0px;
      h1 {
        margin: 0 !important;
        font-size: 1.6em;
        line-height: 2;
      }
      h3 {
        margin: 0 !important;
        font-size: 1.2em;
      }
      .card-message {
        padding-top: 15px;
      }
      .card-action{
        position: absolute;
        bottom: 68px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
         img
         {
          border-radius: 50%;
          height: 50px;
          //margin-right:10px;
         }
         h4
         {
          font-size: 17px !important;
          font-weight: 300 !important;
          margin: 2px;
         }
         p
         {
          margin: 5px;
          font-weight: 400 !important;
          font-size: 12px !important;
         }
         .row
         {
          margin: 0px;
         }
      }
    }
}


/// NUEVOS CARDS CHIDOS

.titulo-card
{
    font-size: 20px !important;
    font-weight: 300 !important;
}
//======== Estilos de cards - propuesta 02 ============
///pasar a variables si es aprobado
.negro-card{
  background-color: #1d1d1d
}
.verde-card{
  background-color: #00c171
}
.azul-card{
  background-color: #01579d
}
.verdedark-card{
  background-color: #0d261e
}
.gris-card{
  background-color: #607d8b
}
.urgente-card{
  background-color: #ea4c36
}

//==============================
#cards-comunicados {
  .card{
    margin: 0px;
    
    color: black;
    &:hover{
      transform: translate3d(0, -3px, 0);
    }
    transition: all 0.2s
  }
  .head-card{
    color: white;
    border-radius: 3px;
    //background-color: #e74c3c;
    padding : 50px 10px 10px 15px  !important;
    h4  {
      font-size: 22px !important;
      font-weight: 500 !important;
      margin: 0;
      line-height: 1.5;
    }
  } 
  .card-prev {
    padding: 15px !important;
    p{ padding-bottom: 1em !important; }
  }
  .min-text{
    font-size: 11px;  
    .icon-special{
          float: left;
          font-size: 16px;
          padding-right: 8px;
    }
  }
}



.etiqueta {
  padding-bottom: 10px;
}

.vista-btn {
  margin-top: -30px;
  padding-left: 10px;
  width: 40px;
   i { line-height: 35px;}
}

