html, body,  {
    height: 100%;
    font-weight: 500;
}

//=================Forms Colors==========================
 /* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=email]:focus + label {
     color: #2196F3;
   }
   .input-field input[type=password]:focus + label {
     color: #2196F3;
   }
   .input-field input[type=text]:focus + label {
     color: #2196F3;
   }
   /* label underline focus color */
   .input-field input[type=email]:focus {
     border-bottom: 1px solid #2196F3;
     box-shadow: 0 1px 0 0 #2196F3;
   }
   .input-field input[type=password]:focus {
     border-bottom: 1px solid #2196F3;
     box-shadow: 0 1px 0 0 #2196F3;
   }
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #2196F3;
     box-shadow: 0 1px 0 0 #2196F3;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #2196F3;
   }
   .btn{
      background-color: #2196F3;
   }

.input-error{
  border-bottom: 1px solid #F44336 !important;
  box-shadow: 0 1px 0 0 #F44336 !important;
}

.message-error {
  color: #ef5350;
  font-size: 10px;
  margin-top: -10px;
}

.animar{
  transition: all 0.9s;
}
.select-wrapper input.select-dropdown{
  z-index: 800;
}
.help-menu{
  li > a {
      display: block;
      font-size: 14px;
      font-weight: 500;
      height: 48px;
      line-height: 48px;
      padding: 0 32px;
  }
  i {
    height: 48px;
    line-height: 48px;
    margin: 0 32px 0 0;
    width: 24px;
  }
  .arrow {
    float: right;
    margin: 0;
  }
  .collapsible {
    border: none;
    box-shadow: none;
    margin: 0;
    a {
      background: none;
      border: none;
    }
    .collapsible-body {
      border: none;
      padding: 0;
    }
  }
}

.btn-square{
  padding: 0px;
  width: 40px;
  text-align: center;
   i { line-height: 35px;}
}

.mas-space {
  padding: 10px !important;
  .input-field {
    margin-top: -10px;
    .radio {
      padding: 10px 0 10px 0;
    }
  }
}
.calendar-heading {
  border-radius: 5px 5px 0 0;
}
  .month-title {
    padding: 10px 0 10px !important;
    span {
      font-weight: 300;
      font-size: 3rem;
      text-transform: capitalize;
    }
  }

  //Tabla responsiva

  .tabla-contenedor {
    width: 100%;
    overflow-y: auto;
    th {
      min-width: 100px;
      &.b { min-width: 30px !important; width: 30px}
        
    }
  }

.new-button {
  padding: 0 !important;
  input {
    height: 100% !important;
    width: 100% !important;
    padding: 0 2rem !important;
  }
}