.margincito-left{
  margin-left: 50px !important;
}
.message-style{
  font-weight: 500;
}
.fixed{
  position: fixed !important;
}
.relative{
  position: relative;
  overflow: auto;
}
.no-margin{
  margin:0 !important;
}
.manita{
  cursor: pointer;
}

.separado{
  letter-spacing: 0px;
  text-transform: uppercase;
}
.peque{
  font-size: 0.8rem;
}
.grande{
  font-size: 9rem;
  display: block;
  color: #2196F3;
}
.negro-text{
  color: #000 !important;
}
.text-presentation{
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 2;
}

// Ocultarse automáticamente
  .navegacion-espacio {
      padding-left: 240px ;
    }
  @media only screen and (max-width : 992px) {
      .navegacion-espacio{
        padding-left: 0 !important;
      }
    }
  // Color blanco
  .white-bonis{
    color: rgba(255, 255, 255, 0.87) !important;
  }
  // Ubicación correcta de iconos en chips
  .icono-on-chip{
    float: left;
    font-size: 16px;
    line-height: 32px;
    padding-right: 8px;
  }
 @media only screen and (max-height: 560px) {
  .block{
    height: 150%;
  }
}
 @media only screen and (max-height: 425px) {
  .block{
    height: 180%;
  }
}

.jus
{
  text-align: justify !important;
}
.text-normal
{
  font-weight: 400 !important;
  font-size: 14px !important;
}
.trun
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.min-cien
{
  min-height: 100%;
}

.no-padding{
  padding: 0px !important;
}

.padding-one {
  padding: 1px !important;
}

.min-total {
  min-height: 100vh !important;
}

.min-total-bar {
  min-height: calc(100vh - 64px) !important;
}

@media only screen and (max-width: 600px) {
  .min-total-bar {
    min-height: calc(100vh - 56px) !important;
  }
}

.upper {
  text-transform: uppercase;
}
.no-upper {
  text-transform: none;
}

.ocultado{
 display: none !important;
}