.negro-flat{
	background-color: #404040;
}

//===========admin image==========
.admin-img{
	border-radius: 50%;
	height: 35px;
	margin-right:10px;
}

//========== Menú lateral ===========

#nav-user {
	i { line-height: 35px;}
	#toggleMenu {
		padding: 0px;
		width: 40px
	}
}

.side-contenedor {
	position: relative;
	height: 100vh;
	overflow-x: auto;
}

#menu-normal {
	width:240px;
	margin-top:63px;
	.side-contenedor {
		height: calc(100vh - 64px);
	} 
}

.side-lista {
	height: calc(100% - 54px);
	overflow-x: auto;
}

#menu-movil {
	width:240px;
}

.side-nav .flecha {
	padding-left: 31px !important;
	.arrow{
		float: right;
		margin: 0;
	}
}

.background img {
	width: 180%;
}

// =========== Notificaciones ====== 
.notificaciones {
	.collapsible-header {
		padding: 0 0 10px !important;
	}
	i {
		margin: 0 7px !important;
	}
	label {
		padding: 0 0 0 37px;
		margin: -15px 0;
		display: block;
		height: 20px !important;
		line-height: 1;
	}
}

.noti {
	padding: 10px;
	line-height: 1.5;
	font-weight: normal;
}


.ayuda-btn {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.line-divider {
	border-top: 1px solid #757575 ;
	margin: 0 8px 0 8px;
}

// ====== Botones  de lista ======
.side-nav {
	li.waves-effect {
		display: inherit !important;
		i {
			position: absolute;
			top: 10px;
			left: 33px;
		}

		a {
			padding-left: 90px;
		}
	}
}


//Vista de usarios - CONSULTA

.principal-usuario .col{
	padding: 15px 0 15px 0 !important;
	img {
		border-radius: 50%;
		height: 20vw;
		width: 20vw;
	}
}

.perfiles-usuario {
	p {
		margin: 10px 0 10px 0 !important;
	}
}