.nav-index {
	background: transparent;
	position: fixed;
	top: 0;
	z-index: 30;
	box-shadow: none;
}

.mask {
	position: fixed !important;
	top: calc(-100vh + 64px) !important;
	bottom: initial !important;
}

@media only screen and (max-width: 600px) {
	.mask {
		top: calc(-100vh + 56px) !important;
	}
}

.index-first {
	overflow: hidden;
	position: relative;
	min-height: 100vh;
	z-index: 20;
	#particles {
		width: 100vw;
		height: 100vh;
		position: absolute;
		background: #3367D6;
		bottom: 0;
		z-index: 1;
	}
	.row {
		position: relative;
		opacity: 0;
		padding-top: 30vh;
		z-index: 2;
		padding-bottom: 20px;
		img {
			background: transparent;
			height: 30vh;
			max-height: 20vw;
		}
		img.left {
			background: transparent;
			min-height: 35vw !important;
		}
	}
	.row.animated {
		@include animation('content-puff 0.5s 2.9s linear forwards');
	}
	.row.finished {
		opacity: 1;
	}
	//=================Forms Colors==========================
	// text color
	input {color: #e0e0e0; }
	// label color 
	label {color: #e0e0e0; }
	// label focus color 
	input[type=email]:focus + label {color: #ffb74d  ;}
	input[type=password]:focus + label {color: #ffb74d  ;}
	input[type=text]:focus + label {color: #ffb74d  ;}
	// label underline focus color 
	 input[type=email]:focus {
		border-bottom: 1px solid #ffb74d  ;
		box-shadow: 0 1px 0 0 #ffb74d  ;
	}
	input[type=password]:focus {
		border-bottom: 1px solid #ffb74d  ;
		box-shadow: 0 1px 0 0 #ffb74d  ;
	}
	input[type=text]:focus {
		border-bottom: 1px solid #ffb74d  ;
		box-shadow: 0 1px 0 0 #ffb74d  ;
	}
	// icon prefix focus color 
	.prefix {color: #e0e0e0; }
	.prefix.active {color: #ffb74d  ;}
	.btn{background-color: #2196F3;}
	.forget {
		margin-top: 10px;
		font-size: 0.8rem
	}
}

.olvide {
	display: none;
	position: relative;
	padding: 20px !important;
	background-color: #363636;
	transition: box-shadow .25s;
	border-radius: 2px;
}

.olvide-displayed {
	position: relative;
	padding: 20px !important;
	background-color: #363636;
	transition: box-shadow .25s;
	border-radius: 2px;
}

.recuperar-displayed {
	position: relative;
	padding: 20px !important;
	background-color: #3A539B;
	transition: box-shadow .25s;
	border-radius: 2px;
}

@media only screen and (max-width: 600px) {
	.index-first .row {
		padding: 15vh 0 20px 0;
		img {
			margin: 0 0 0 3%;
		}
	}
}

@-webkit-keyframes content-puff {
	100% {
		opacity: 1;
	}
}
@keyframes content-puff {
	100% {
		opacity: 1;
	}
}

//====== Animation - Background Gray ========
.index-first .back {
  content: "";
  height: 0px;
  padding: 0px;
  border: 130em solid #212121;
  position: absolute;
  left: 50%;
  top: 100%;
  z-index: 4;
  display: block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: crecer 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, normalBorder 0.2s 2.3s linear forwards;
  animation: crecer 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, normalBorder 0.2s 2.3s linear forwards;
}

@-webkit-keyframes crecer {
  0% {
	top: 100%;
	height: 0px;
	padding: 0px;
  }
  100% {
	top: 50%;
	height: 100%;
	padding: 0px 100%;
  }
}

@keyframes crecer {
  0% {
	top: 100%;
	height: 0px;
	padding: 0px;
  }
  100% {
	top: 50%;
	height: 100%;
	padding: 0px 100%;
  }
}

@media screen and (min-aspect-ratio: 4/3) {
  @-webkit-keyframes crecer {
	0% {
	  top: 100%;
	  width: 0px;
	  padding-bottom: 0px;
	}
	100% {
	  top: 50%;
	  width: 100%;
	  padding-bottom: 100%;
	}
  }
  @keyframes crecer {
	0% {
	  top: 100%;
	  width: 0px;
	  padding-bottom: 0px;
	}
	100% {
	  top: 50%;
	  width: 100%;
	  padding-bottom: 100%;
	}
  }
}

@-webkit-keyframes normalBorder {
  0% {
	-webkit-border-radius: 50%;
  }
  100% {
	-webkit-border-radius: 0px;
   z-index: 0;
  }
}

@keyframes normalBorder {
  0% {
	border-radius: 50%;
  }
  100% {
	border-radius: 0px;
	z-index: 0;
  }
}

//======== Login Card ========
.bolita {
	background: #FFB300;
	width: 56px;
	height: 56px;
	position: absolute;
	@include place ('50%', '', '', '50%');
	z-index: 5;
	opacity: 0;
	margin-top: 70px;
	@include transform ('translate(-50%, -50%)');
	border-radius: 50%;
	overflow: hidden;
	@include animation (' inicial 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards', 'moveAbajo 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveArriba 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards', 'finalBolita 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards');
}

@include keyframes (inicial) {
	0% {
		width: 0px;
		height: 0px;
	}
	100% {
		width: 56px;
		height: 56px;
		margin-top: 0px;
		opacity: 1;
	}
}

@include keyframes (moveAbajo) {
	0% {
		top: 50%;
	}
	50% {
		top: 40%;
	}
	100% {
		top: 100%;
	}
}

@include keyframes (moveArriba) {
	0% {
		background: #FFB300;
		top: 100%;
	}
	50% {
		top: 40%;
	}
	100% {
		top: 50%;
		background: #E0E0E0;
	}
}

@include keyframes (finalBolita) {
	0% {
		background: #E0E0E0;
	}
	100% {
		height: 100vh;
		width: 100vh;
		background: transparent;
		z-index: 0;
	}
}


//====== correo confirmación ====== 
#mensaje-01 img {
  height: 130px;
}

// estilos del contenido del index ========
.index-content {
	section {
		padding: 150px 0 100px 0;
		margin: 0 auto;
		max-width: 1280px;
		width: 90%;
	}
	h2 {
		font-weight: 400;
		color: #343434;
	}
	.space-login {
		h5 {
			color: #3367D6;
			padding-top: 1rem;
		}
		i {
			color: #DCDCDC;
			font-size: 5rem;
		}
		p {
			font-weight: 400;
		}
	}
}

.material-cube {
	position: relative;
	perspective: 1000px;
	perspective-origin: 100% 0%;
	transform: translate(-50%,-50%);
	@include place ('100%', '', '', '50%');
	min-height: 100px;
	min-width: 100px;
	margin-top: -7vw;
	.shape {
		width: 100%;
		height: 100%;
		transform: rotateX(60deg) rotateZ(30deg);
		position: absolute;
	}
}

.material-example {
	position: relative;
	height: 1px;
}

@media only screen and (max-width: 992px) {
	.material-example {
		height: auto;
		.material-cube {
			margin-top: -60px;
		}
	}
}

.one {
	width: 10vw;
	height: 10vw;
	z-index: 3;
	margin-top: -2.5vw;
	.shape {background: #eeeeee;}
}
.two {
	width: 12vw;
	height: 12vw;
	z-index: 2;
	.shape {background: #0288d1;}
}
.three {
	width: 14vw;
	height: 14vw;
	z-index: 1;
	.shape {background: #f57c00;}
}
.base {
	width: 16vw;
	height: 16vw;
	z-index: 0;
	.shape {overflow: hidden;}
	img {
		height: 100%;
	}
}

footer {
	background-color: #3367D6 !important;
	img{ width: 15rem; }
	h5 {font-size: 1.3rem;}
}

.sec.build {
	background-color: #3367D6 !important;
	p {
		font-weight: 300;
	}
	h6 {
		padding: 2rem 0 2rem 0;
		font-size: 1.2rem;
	}
	img {
		height: 150px;
		width: 150px;
	}
}

.parallax-container {
	height: 70vh;
	margin-bottom: 100px;
	.section {
		width: 100%;
		background: rgba(0,0,0,0.5);
	}
}

//============ dropdown=====================
.dropdown-content{
	margin-top: 50px;
	li{
		a{
			&:hover{ background-color: transparent,}
		}
		&:hover{ background-color: rgba(64,64,64,0.4);}
	}
}

.main-login {box-sizing: initial;}

//=================================== Estilos de contenido =================================

.arregladito{position:fixed; top:0}

.space-login { margin: 40px 0 40px;}

nav ul li {font-weight: 500;}

.label-chido {
	label {
		&::before {
			border: 2px solid #bdbdbd;
		};
	}
}